.codeBlock pre {
  padding: 34px 16px 32px 32px;
  overflow: auto;
  margin: 4px 0;
  border-radius: 3px;
}

.codeBlock {
  width: 100%;
  font-size: 85%;
  margin: 2px;
  position: relative;
  --appear-animation: opacity 0.1s linear;
}

/*
    There will use attributes variables have already been set in react-notion-x
 */
.codeCaption {
  padding: 6px 0 6px 2px;
  white-space: pre-wrap;
  word-break: break-word;
  caret-color: var(--fg-color);
  font-size: 14px;
  line-height: 1.4;
  color: var(--fg-color-3);
}

.codeCopyButton {
  position: absolute;
  display: flex;
  right: 10px;
  top: 15px;
  align-items: center;
  justify-content: center;
  gap: 2px;
  padding: 5px;
  border: none;
  cursor: pointer;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

@media (prefers-reduced-motion) {
  transition: none;
}

.codeBlock:hover .codeCopyButton {
  opacity: 1;
}

.codeLanLabel {
  position: absolute;
  display: inline-block;
  left: 10px;
  top: 15px;
  text-align: center;
  padding: 0 12px;
  border: none;
  background-color: var(--bg-color);
  color: var(--fg-color);
  border-radius: 4px;
  opacity: 0;
  transition: opacity 0.1s linear;
}

.codeBlock:hover .codeLanLabel {
  opacity: 1;
}
